<h1>Add a burger!</h1>

<h2>What burger sounds good to eat?</h2>

<ul>
	{{#each burgers}}
		{{#unless devoured}}
			{{> burger/burgers devoured=false}}</p>
		{{/unless}}
	{{/each}}
</ul>

<h2>Burgers that are eaten</h2>

<ul>
	{{#each burger}}
		{{#if devoured}}
			{{> burger/burgers devoured=true}}
		{{/if}}
	{{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="banana"></textarea>

	<button type="submit">Submit</button>
</form>

<script>
    // Logic for adding/deleting and updating burgers
</script>